<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="../cdn/session.css">
    <script src="../cdn/session.js" defer></script>
</head>

<body>
    <div id="mouseArea">

    </div>
    <div id="modal">
        <form onsubmit = "" id="connect">
            <label>
                Display Name:
                <input id="display-name" type="text" required />
            </label>
            <input type="submit" />
        </form>
    </div>
    
    <main>
        <p id="mine">Mine Count: NaN</p>
        <div id="holder">
            <div id="grid"></div>
            <div id="tableHolder">
                <table>
                    <tr>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Bombs</th>
                    </tr>    
                </table>
            </div>
            
        </div>
    </main>
</body>

</html>